.navbar {
    background-color: rgb(255, 207, 0);
    height: 100px;
}

.logo {
    margin-bottom: 10px;
}

.searchbar {
    right: 10px;
    position: absolute;
}
.searchbar #filter {
    width: 200px;
}
.searchbar .reset {
    position: absolute;
    top: 11px;
    right: 15px;
    cursor: pointer;
    color: #abafb3; /* #4e555b; */
}
.investigator {
    padding-right: 5px;
}

main {
    margin-top: 110px;
}


.manual-title {
    font-weight: bold;
    height: 3em;
    line-height: 1.5em;
    overflow: hidden;
    margin-bottom: 3px;
    display: table-cell;
    vertical-align: bottom;
    padding-bottom: 5px;
}
.manual-box {
    width: 33% !important;
    padding: 5px;
    margin-bottom: 15px;
}
.manual-pic {
    vertical-align: top;
    max-width: inherit;
}
.manual-pic img {
    width:100%;
    object-fit: contain;
}

#research-container {
    position: absolute;
    right: 56px;
    top: 115px;
    padding: 5px;
    border: dotted 2px rgb(255, 207, 0);
}
#research {
    width: 70px;
    text-align: right;
}

#import-container {
    padding-top: 20px;
}
#import-container h3 {
    margin-bottom: 20px;
}
#import-container ul {
    list-style: none;
}
#import-container li {
    margin-left: -40px;
}
