@import "bootstrap";

/**
 * HEADER
 */
#header {
    .header-column {
        height: 85px;
    }
    .header-column-left {
        font-size: 3.5rem;
        font-weight: 300;
        line-height: 1.2;
    }
    .header-column-right {
        margin-top: 15px
    }
    form {
        width: 100%;
    }
    .logo {
        margin-bottom: 10px;
    }
    .searchbar {
        /* max-width: 300px; */
        position: relative;
    }
    .searchbar #filter_reset {
        position: absolute;
        top: 11px;
        right: 15px;
        cursor: pointer;
        color: #abafb3; /* #4e555b; */
    }
    .investigator {
        padding-right: 5px;
    }
}

@media (max-width: 991.98px) {
    #header {
       .header-column-left {
            font-size: 2.5rem;
            padding-top: 0.7rem;
        }
        .header-column-right {
            margin-top: 5px;
        }
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    #header {
        .header-column {
            height: 55px;
        }
        .header-column-left {
            font-size: 1.5rem;
            padding-top: 0.25rem;
        }
        .header-column-right {
            margin-top: 0px;
        }
        #logo {
            height: 2.5rem;
        }
    }
}

/**
 * MAIN content
 */
main {
    margin: 110px 0.5em 0 0.5em;
}


.manual-title {
    font-weight: bold;
    height: 3em;
    line-height: 1.5em;
    overflow: hidden;
    margin-bottom: 3px;
    display: table-cell;
    vertical-align: bottom;
    padding-bottom: 5px;
}
.manual-box {
    width: 33% !important;
    padding: 5px;
    margin-bottom: 15px;
}
@media (max-width: 991.98px) {
    .manual-box {
        width: 50% !important;
    }
}
@media (max-width: 767.98px) {
    .manual-box {
        width: 100% !important;
    }
}
.manual-pic {
    vertical-align: top;
    max-width: inherit;
}
.manual-pic img {
    width:100%;
    object-fit: contain;
}

#research-container {
    position: absolute;
    right: 56px;
    top: 115px;
    padding: 5px;
    border: dotted 2px rgb(255, 207, 0);
    border-radius: 10px;
}
#research {
    width: 70px;
    text-align: right;
}

#research_input {
    display: inline;
    width: inherit;
}

#import-container {
    padding-top: 20px;
}
#import-container h3 {
    margin-bottom: 20px;
}
#import-container ul {
    list-style: none;
}
#import-container li {
    margin-left: -40px;
}


#waiting-fog {
    display: none;
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgb(255, 207, 0);
    top: 0;
    left: 0;
    opacity: 0.5;
}
#waiting-container {
    display: none;
    z-index: 2;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#waiting-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-outline-primary {
    --bs-btn-color: #262626;
    --bs-btn-border-color: rgb(255, 207, 0);
    --bs-btn-hover-color: #262626;
    --bs-btn-hover-bg: rgb(255, 207, 0);
    --bs-btn-hover-border-color: rgb(255, 207, 0);
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #262626;
    --bs-btn-active-bg: rgb(255, 207, 0);
    --bs-btn-active-border-color: rgb(255, 207, 0);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #262626;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: rgb(255, 207, 0);
    --bs-gradient: none;
    --bs-btn-border-width: 2px;
}
.btn-primary {
    --bs-btn-color: #262626;
    --bs-btn-bg: rgb(255, 207, 0);
    --bs-btn-border-color: rgb(255, 207, 0);
    --bs-btn-hover-color: #262626;
    --bs-btn-hover-bg: rgb(255, 233, 0);
    --bs-btn-hover-border-color: rgb(255, 207, 0);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #262626;
    --bs-btn-active-bg: rgb(255, 207, 0);
    --bs-btn-active-border-color: rgb(255, 222, 0);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #262626;
    --bs-btn-disabled-bg: rgb(255, 207, 0);
    --bs-btn-disabled-border-color: rgb(255, 207, 0);
}
