<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Finns LEGO&reg; Anleitungen{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Load icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- customise -->
    <link href="/css/app.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark fixed-top">
    <div class="display-4">Finns <a href="/"><img id="logo" src="/logo.jpeg" /></a> Anleitungen</div>
{#
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>
#}
    <div class="searchbar">
        <form class="form-inline">
            <script type="text/javascript">
                function filterManuals()
                {
                    let queryString = document.getElementById('filter').value;
                    let boxes = document.getElementsByClassName("manual-box");
                    for(let i=0; i<boxes.length; i++)
                    {
                        let box = boxes[i];
                        let caption = box.getAttribute('data-filter');
                        if (queryString.length < 3 ||   caption.search(new RegExp(queryString, "i")) > -1  ) {
                            box.style.display = 'block';
                        } else {
                            box.style.display = 'none';
                        }
                    }
                }
            </script>
            <input id="filter" class="form-control mr-sm-2" type="text" placeholder="Suche" aria-label="Suche" onkeyup="filterManuals();">
        </form>
    </div>
</nav>

<main role="main">

    <div class="container">
        {% block body %}{% endblock %}
        <hr>
    </div> <!-- /container -->

</main>

<footer class="container">
    <div class="row">
        <div class="col-6"><p>&copy; Oliver Joo&szlig;</p></div>
        <div class="col-6"><p style="text-align: right"><a href="{{ path('import') }}">weitere Sets hinzuf&uuml;gen >></a></p></div>
    </div>
</footer>

</body>
</html>
